<div class="author">
    <h1 class="author_heading">Hi, I'm Ngoc Vu</h1>
    <p class="author-body">Web developer and pianist</p>
</div>

<img src="/img/pexels-thuyen-vu-322719.jpg" alt="piano" class="hero-image" width="50%">

<section class="articles">
    <h2 class="articles_heading">Latest Post</h2>
    <ul class="actical-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; Virew Older Posts</a>
</section>